body,
html {
  margin: 0;
  padding: 0;
  /* padding-top: 100px; */
  height: 100%;
  background-color: #2f3640;
  /* Temporary bg color to see div*/
}

/* Navbar*/
nav.navbar {
  position: top;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #353b48;
}

nav h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}

.navbar a {
  color: white;
}
.hidden {
  display: none;
}
.stored-playlist {
  background-color: black;
}
h5 {
  font-family: Montserrat;
  font-size: rem;
  font-weight: 100;
}

button {
  /* CSS for home page buttons */
  background-color: #fff;
  border-color: #745f49 !important;
  border: 2px solid #745f49;
  font-size: 14px;
  padding: 12px 16px;
  margin-left: 3px;
  margin-bottom: 5px;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 0px;
  font-family: Montserrat, sans-serif;
  transition: 0.3s;
}

button:hover {
  /*CSS for home page buttons when on hover*/
  cursor: pointer;
  background: #745f49;
  color: white;
}

/* HOME PAGE TILES LAYOUT */
div.tile.is-ancestor {
  justify-content: center;
  margin: 150px 0px 10px 0px;
}

article {
  /* Affects position, width and height of home page tiles*/
  right: 14vw;
  height: 600px;
  width: 30vw;
}

@media only screen and (max-width: 772px) {
  /* Mobile responsiveness for home page*/
  .notification {
    position: relative;
    width: 80%;
    height: 50%;
    left: 10vw;
  }
}

/* **HOME PAGE TILE IMAGES** */

/* Select Mood Tile */
.sel-mood {
  background-image: url(https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sel-mood:hover {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* For Weather Based Tile  */
.weather-mood {
  background-image: url(https://cdn.pixabay.com/photo/2015/07/13/11/56/girl-843076_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.weather-mood:hover {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}
/*For Stored Playlist */
.stored-pl {
  background-image: url(https://cdn.pixabay.com/photo/2019/01/27/22/32/mountains-3959204_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.stored-pl:hover {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}


/* #rdm-mood-card {
  background-image: url(https://cdn.pixabay.com/photo/2017/04/19/20/10/morning-2243465_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center center;
} */

footer {
  position: fixed;
  padding: 2rem 1rem 4rem !important;
  bottom: 0;
  left: 0;
  z-index: 0.5;
  height: 0.5%;
  width: 100%;
  font-family: Montserrat, sans-serif;
}

.input.is-rounded {
  /*Search bar in mood wasn't showing.*/
  margin-top: 200px;
  margin: 200px 0px 0px 150px;
  width: 35%;
}
