body,
html {
  margin: 0px !important;
  padding: 0;
  /* padding-top: 100px; */
  min-height: 100%;
  background-color: #2f3640;
  /* Temporary bg color to see div*/
  margin-bottom: 100px;
  clear: both;
}
.container {
  /* margin: 0px !important; */
  padding-top: 100px;
  min-height: 100%;
  background-color: #2f3640;
  /* Temporary bg color to see div*/
  margin-bottom: 100px;
  clear: both; 
}

/* Navbar*/
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
}

nav h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #745f49;
  font-family: Montserrat, sans-serif;
}

.navbar a {
  color: #745f49;
}
.hidden {
  display: none;
}
.stored-playlist {
  background-color: black;
}
h5 {
  font-family: Montserrat, sans-serif;
  font-size: rem;
  font-weight: 100;
}

button {
  /* CSS for home page buttons */
  background-color: #fff;
  border-color: #745f49 !important;
  border: 2px solid #745f49;
  font-size: 14px;
  padding: 12px 16px;
  margin-left: 3px;
  margin-bottom: 5px;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 0px;
  font-family: Montserrat, sans-serif;
  transition: 0.3s;
}

button:hover {
  /*CSS for home page buttons when on hover*/
  cursor: pointer;
  background: #745f49;
  color: white;
}

/* HOME PAGE TILES LAYOUT */
div.tile.is-ancestor {
  justify-content: center;
  margin: 150px 0px 10px 0px;
}

article {
  /* Affects position, width and height of home page tiles*/
  /* right: 3vw; */
  /* height: 600px; */
  height: 40vh;
  width: 30vw;
}

@media only screen and (max-width: 772px) {
  /* Mobile responsiveness for home page*/
  .notification {
    position: relative;
    width: 80%;
    height: 50%;
    left: 10vw;
  }
}

/* **HOME PAGE TILE IMAGES** */

/* Select Mood Tile */
.sel-mood {
  background-image: url(https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sel-mood:hover {
  background-color: #e7e7de;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 1s ease-in-out;
}
/* For Weather Based Tile  */
.weather-mood {
  background-image: url(https://cdn.pixabay.com/photo/2015/07/13/11/56/girl-843076_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.weather-mood:hover {
  background-color: #e7e7de;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}
/*For Stored Playlist */
.stored-pl {
  background-image: url(https://cdn.pixabay.com/photo/2019/01/27/22/32/mountains-3959204_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.stored-pl:hover {
  background-color: #e7e7de;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}

/* #rdm-mood-card {
  background-image: url(https://cdn.pixabay.com/photo/2017/04/19/20/10/morning-2243465_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center center;
} */

footer {
  position: fixed;
  bottom: 0;
  display: block;
  background-color: #f1f1f1;
  /* padding: 70px 0px 30px 0px; */
  /* margin: 70px 0px 0px 0px; */
  z-index: 0.5;
  height: auto;
  width: 100%;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

/* SOCIAL MEDIA BUTTONS */

.fa {
  padding: 20px 10px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #745f49;
  color: white;
}

.fa-twitter {
  background: #745f49;
  color: white;
}

.fa-instagram {
  background: #745f49;
  color: white;
}

.fa-youtube {
  background: #745f49;
  color: white;
}

.input.is-rounded {
  /*Search bar in mood wasn't showing.*/
  margin-top: 200px;
  margin: 200px 0px 0px 150px;
  width: 35%;
}
#enterCity {
  color: white;
}