body, html {
  height: 100%;
  background-color: #353b48; /* Temporary bg color to see div*/
}

.button { /* CSS for home page buttons */
  background-color: #fff;
  border-color: #745f49!important;
  border: 2px solid #745f49;
  font-size: 14px;
  padding: 12px 16px;
  margin-left: 3px;
  margin-bottom: 5px;
  border-bottom-color: rgb(255,255,255);
  border-bottom-left-radius: 0px;
  font-family: Montserrat, sans-serif;
  transition: 0.3s;
}

.button:hover{
  cursor: pointer;
  background: #745f49;
  color: white;
}

/* **HOME PAGE TILE IMAGES** */
div.tile.is-ancestor {
  justify-content: center;
  margin: 160px 0px 10px 0px;

}

div.tile.is-parent { /*Trying to figure out how to enlarge tiles to fill whole page.*/

}

#mood-card {
  background-image: url(https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#rdm-mood-card {
  background-image: url(https://cdn.pixabay.com/photo/2017/04/19/20/10/morning-2243465_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#weather-card {
  background-image: url(https://cdn.pixabay.com/photo/2015/07/13/11/56/girl-843076_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#playlist-card {
  background-image: url(https://cdn.pixabay.com/photo/2019/01/27/22/32/mountains-3959204_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar*/
nav h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.hidden {
  display: none;
}
.stored-playlist {
  background-color: black;
}
h5 {
  font-family: Montserrat;
  font-size: rem;
  font-weight: 100;
}

footer {
  position: fixed;
  padding: 2rem 1rem 4rem !important;
  bottom: 0%;
  left: 0%;
  z-index: 0.5;
  height: 0.5%;
  width: 100%;
  font-style: oblique;
}
